#header a{
    text-decoration: none;
    color: black;
}

*{
    font-family: "Inter Tight";
}

#WORK{
    height: 300px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 200px;
    padding-bottom: 40px;
}

#WORK p{
    font-weight: 200;
    font-size: 300px;
}

#WORK button{
    margin: 0 0 0 500px;
    font-size: 15px;
    height: 60px;
    width: 120px;
    border-radius: 25px;
    color: white;
    background-color: black;
}

#header{
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

#nextPartCarousel{
    height: 600px;
}

sub{
    font-size: 10px;
    font-weight: 800;
    vertical-align: baseline;
}

#left-desc{
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#firstPart{
    display: flex;
}

#Video{
    width: 100%;
    height: 100%;
    align-content: center;
}

#transbox {
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.2;
  }

#left-desc p{
    font-size: 30px;
    font-weight: 300;
    margin: 50px 140px;
}

#scroll{
    margin: 0 0 20px 140px;
    font-size: 20px;
    font-weight: 200;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;
    text-decoration-color: black;

}

#right-video{
    width: 50%;
    height: 80vh;
    background-color: black;
    margin-right: 10px;
}

#Logo a{
    font-size: 40px;
    font-weight: 400;
    text-decoration: dashed;
    text-decoration-color: white;
    text-decoration-line: underline;
}

#Logo{
    width: 35%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 20px;
}

#nextPartText{
    text-align: center;
    margin: 40px 60px;
}

#nextPartText p{
    font-family: "Noto Serif";
    font-size: 60px;
    font-weight: 200;
}

#nextPartText p a{
    font-size: 40px;
    border: medium solid;
    border-radius: 25px;
    padding: 10px 10px;
    margin-right: 15px;
}

#arrow145{
    width: 60px;
    height: 60px;
}

#startProject{
    height: 60px;
    width: 180px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color: black;
    border-radius: 50px;
}
#gap{
    width: 40px;
}

#navi{
    width: 65%;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: center;
}

#navi a{
    margin: 0 15px;
    font-size: 20px;
}


.wrapper { 
    max-width: 100%; 
    width: 100%; 
    position: relative; 
  
} 
  
.wrapper i { 
    height: 50px; 
    width: 50px; 
    background: rgb(118, 233, 118); 
    text-align: center; 
    line-height: 50px; 
    border-radius: 50%; 
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    font-size: 1.25 rem; 
    transform: translateY(-50%); 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23); 
  
} 
  
.wrapper i:first-child { 
    left: -22px; 
  
} 
  
.wrapper i:last-child { 
    right: -22px; 
  
} 
  
.wrapper .carousel { 
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: calc((100% / 3) - 12px); 
    gap: 16px; 
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    scrollbar-width: 0; 
} 
  
.carousel::-webkit-scrollbar { 
    display: none; 
} 
  
.carousel :where(.card, .img) { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
  
.carousel.dragging { 
    scroll-snap-type: none; 
    scroll-behavior: auto; 
} 
  
.carousel.no-transition { 
    scroll-behavior: auto; 
} 
  
.carousel.dragging .card { 
    cursor: grab; 
    user-select: none; 
} 
  
.carousel .card { 
    scroll-snap-align: start; 
    height: 500px; 
    list-style: none; 
    background: #fff; 
    border-radius: 8px; 
    display: flex; 
    cursor: pointer; 
    width: 100%; 
    padding-bottom: 15px; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
} 
  
.card .img { 
    background: green; 
    width: 500px; 
    height: 500px; 
  
} 
  
.card .img img { 
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
    border: 4px solid #fff; 
} 
  
.card h2 { 
    font-family: "Noto Serif";
    font-weight: 200; 
    font-size: 1.55rem; 
    margin: 30px 0 5px; 
} 
  



#nextPartCarousel{
    display: flex;
    justify-content: center;
    align-items: center;
}